{% extends "kidness_theme/two_column.html" %}
{% load i18n %}
{% load lfc_tags %}
{% load lfc_theme_tags %}
{% load portlets_tags %}

{% block custom-left-column-class %}articles{% endblock %}
{% block custom-tabs-class %}articles{% endblock %}
{% block custom-main-class %}articles{% endblock %}

{% block main %}
	{% breadcrumbs %}<br/>
		{% ifequal lfc_context.content_type "article"%}
			<div class="article-header">{{ lfc_context.title }}</div>
			<div class="addthis-wrapper">
				<p>Расскажите друзьям<p/>
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_button_preferred_1"></a>
					<a class="addthis_button_preferred_2"></a>
					<a class="addthis_button_preferred_3"></a>
					<a class="addthis_button_preferred_4"></a>
					<a class="addthis_button_compact"></a>
					<a class="addthis_counter addthis_bubble_style"></a>
				</div>
				<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
				<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5076d2016bd6e8f1"></script>
				<!-- AddThis Button END -->
			</div>
			{{ lfc_context.text|safe }}
			<br/> 
	        <div id="trainers-block">
	        	{% for trainer in lfc_context.trainers.all %}
			    	<div class="trainer-block">
				    	<img 
				    		class="trainer-photo"
					        src="{{ trainer.get_image.image.url }}"
					        alt="{{ trainer.get_image.image.title }}"
					        title="{{ trainer.get_image.title }}" 
					     />
					     <h3>{{ trainer.title }}</h3>
					    {{ trainer.description|safe }}
			        </div>
		        {% endfor %}
	        </div>
	    {% else %}
	    	<li id="articles-list"> 
	    		{% for article in lfc_context.get_children %}
		    		<ul class="article-block">
			    		<div class="article-header"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></div>
						{{ article.description|safe }}
					</ul>
	        	{% endfor %}
	        </li>
	    {% endifequal  %}
{% endblock %}

 

 

