{% extends "lfc/base.html" %}

{% load i18n %}
{% load lfc_tags %}
{% load lfc_theme_tags %}
{% load portlets_tags %}

{% block header %}
	<div id="header" class="index-header" test="test">
		<a href="/">
			<img src="/media/kidness_theme/img/logo.png" class="logo"/>
		</a>
		<span class="phone"><span class="code">(812)</span>&nbsp;645&nbsp;0155</span>
		<span class="address">Звенигородская&nbsp;ул.,12</span>
		<div id="social-networks">
			<a href="http://vk.com/club21907312" target="_blank"><img src="{{ MEDIA_URL }}kidness_theme/img/vk.png" /></a>
			<div style="display:none"><br/><a href="#" target="_blank"><img src="{{ MEDIA_URL }}kidness_theme/img/fb.png" /></a></div>
		</div>
		<div class="flags">
			&nbsp;
		</div>
	</div>
{% endblock %}
				
{% block section %}plain{% endblock %}

{% block javascript %}

	<script type="text/javascript">
		function activateMenuItem(number) {
			switch(number){
				case 1:
					$(".bottom-menu-block").not("#bottom-menu-first").css("background", "none");
					$("#bottom-menu-first").css("background", "url('/media/kidness_theme/img/menu_active.png') 0 0");
					break;
				case 2:
					$(".bottom-menu-block").not("#bottom-menu-second").css("background", "none");
					$("#bottom-menu-second").css("background", "url('/media/kidness_theme/img/menu_active.png') -234px 0");
					break;
				case 3:	
					$(".bottom-menu-block").not("#bottom-menu-third").css("background", "none");
					$("#bottom-menu-third").css("background", "url('/media/kidness_theme/img/menu_active.png') -468px 0");
					break;
				case 4:	
					$(".bottom-menu-block").not("#bottom-menu-forth").css("background", "none");
					$("#bottom-menu-forth").css("background", "url('/media/kidness_theme/img/menu_active.png') -701px 0");
					break;
			}
		};
		
		function showShowcase(number) {
			activateMenuItem(number);
			$(".showcase").not("#showcase" + number).fadeOut("slow");
			$("#showcase" + number).fadeIn("slow");
		}
		$(document).ready(function() {
			var stopSwitching = false;
			var delaySwitching = false;
			
			$("#bottom-menu-first").mouseover(function() {
				delaySwitching = true;
				showShowcase(1);
			});
			
			$("#bottom-menu-second").mouseover(function() {
				delaySwitching = true;
				showShowcase(2);
			});
			
			$("#bottom-menu-third").mouseover(function() {
				delaySwitching = true;
				showShowcase(3);
			});
			
			$("#bottom-menu-forth").mouseover(function() {
				delaySwitching = true;
				showShowcase(4);
			});
			
			$(".bottom-menu-block").click(function() {
				stopSwitching = true;
			});
			
			$(".bottom-menu-block").mouseout(function() {
				delaySwitching = false;
			});
			
			function showcaseSwitcher(number, timeout) {
				showShowcase(number);
				setInterval(function() {
					if (!stopSwitching && !delaySwitching) {
						showShowcase(number);
					}
				}, timeout);
			};
			$(window).load(function(){
				var qnt = $(".showcase").length;
				$(".showcase").each(function(index) {
					var delayInterval = 6000;
					var delay = delayInterval*(index);
					setTimeout(function() {
						showcaseSwitcher(index + 1, qnt*delayInterval);
					}, delay);
				});
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".open-in-lightbox-link").click(function(){
				$(this).colorbox({open:true});
				return false;
			});		
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".block").mouseenter(function(){
				$(this).css("cursor", "pointer");
				$(this).find(".block-header").css("text-decoration", "underline");
			});
			$(".block").mouseleave(function(){
				$(this).css("cursor", "");
				$(this).find(".block-header").css("text-decoration", "none");
			});
			$(".block").click(function(){
				var link = $(this).find("a:first");
				if($(link).hasClass("open-in-lightbox-link")) {
					$(link).colorbox({open:true});	
				} else if($(link).hasClass("portlet-link")) {
					$(link).click();
				} else {
					window.location.href = $(link).attr("href");
				}
			});		
		});
	</script>
	
{% endblock %}
{% block tabs-block %}
	<div id="tabs" class="index">
		{% tabs %}
		{% with 0 as  blockcounter%}
			{% for showcase in lfc_context.get_children %}
				{% ifequal showcase.content_type "showcase"%}
					{% ++ blockcounter %}
					<div class="showcase" id="showcase{{blockcounter}}"
					  {% ifnotequal blockcounter 1 %}style="display:none"{% endifnotequal %}
					>
						<div class="showcase-text">
								<div class="showcase-header">
									{{ showcase.text_subtitle|safe }}
								</div>
								<div class="showcase-h2">
									{{ showcase.text_plain|safe }}
								</div>
						</div>
						<img class="showcase-shadow"  src="/media/kidness_theme/img/showcase_shadow.png" alt="shadow" />
						<img class="showcase-image" src="{{ showcase.get_image.image.url }}" alt="{{ showcase.text_title }}" />
					</div>
				{% endifequal  %}
			{% endfor %}
		{% endwith %}
		<div class="clear"></div>
		<div id="bottom-menu">
			<div id="bottom-menu-first" class="bottom-menu-block active">
			</div>
			<div id="bottom-menu-second" class="bottom-menu-block">
			</div>
			<div id="bottom-menu-third" class="bottom-menu-block">
			</div>
			<div id="bottom-menu-forth" class="bottom-menu-block">
			</div>
		</div>
	</div>
{% endblock %}
		    
{% block content %}

    <div class="index-main">
    	<div class="index-main-wrapper">
    		<div id="three-blocks-block">
    			{% with 0 as  blockcounter%}
			    	{% for block in lfc_context.get_children %}
			    		{% ifequal block.content_type "mainpageblock"%}
			    			{% ++ blockcounter %}
							<div id="block{{blockcounter}}" class="block">
								<div class="photo-wrapper">
									<img src="/media/kidness_theme/img/block_photo_shadow.png" alt="shadow" class="shadow"/>
									<img src="{{ block.get_image.image.url }}" alt="{{block.text_title|safe}}" />
								</div>
								<div class="block-text">
									<div class="block-header">
										{% if block.linked_page%}
											<a href="{{block.linked_page.get_absolute_url}}" 
											{% if block.open_link_in_lightbox %}
												class="open-in-lightbox-link"
											{% endif %}
											>{{block.text_title|safe}}</a>
											</div> 
											{{block.text_plain|safe}}
										{% else %}
											{% if block.portlet %}
												<div style="display:none" class="portlet-link">
													{{ block.portlet }}
												</div>
												{{block.text_title|safe}}
												</div> 
												{{block.text_plain|safe}} 
											{% else %}
												<a href="#">{{block.text_title|safe}}</a>
												</div> 
												 {{block.text_plain|safe}} 
											{% endif %}
										{% endif %}
								</div>
							</div>
						 {% endifequal  %}
					{% endfor %}
				{% endwith %}
			<div style="padding: 20px 0" id="seotext">
				<h1>Киднес клуб&nbsp;&mdash; занятия для детей и беременных</h1>
					<p>Киднес-клуб&nbsp;&mdash; это первый фитнес-клуб для детей. Этот детский фитнес-клуб создан специально для ваших детей в возрасте от 1 до 12 лет. Здесь есть различные секции для детей: песочная терапия, детский фитнес, детская йога (йога для детей), спортивные секции для детей, современные танцы для детей, капоэйра для детей, дзюдо для детей. Здесь вы можете подобрать самые различные занятия спортом для вашего ребенка. В этом вам поможет врач лечебной физкультуры и детский психолог.</p>
					<p>Поскольку здоровьем ребенка необходимо заниматься еще до его рождения, KidnessClub предлагает занятия для беременных. Здесь есть йога для беременных, курсы подготовки к родам (курсы для беременных) и все, что поможет вам как следует подготовиться к такому ответственному и счастливому моменту в вашей жизни, как рождение ребенка.</p>
					<h2>Современные танцы для детей</h2>
					<p>Вам когда-нибудь приходилось жалеть о том, что вы в детстве не научились хорошо танцевать? Ваши дети жалеть не будут! Потому что, они научатся танцевать в секции детских танцев. Танцы для детей в нашем детском фитнес-клубе представлены несколькими направлениями: zumba, kiddy dance и street-dance.</p>
					<h2>Гимнастика для детей</h2>
					<p>Гимнастика для детей чрезвычайно важна. Дети ни на миг не останавливаются, они всегда находятся в движении. Движение&nbsp;&mdash; это их естественное состояние. Находясь в стесненных обстоятельствах города, детям нередко требуется правильный выход энергии. Гимнастика для детей в детском фитнес-клубе Киднес клуб даст им возможность скомпенсировать этот недостаток городской жизни и позволит им развиваться быстро и гармонично. Мы предлагаем оздоровительную гимнастику и капоэйру для детей.</p>
					<h2>Спорт для детей</h2>
					<p>Спорт для детей в нашем детском фитнес-клубе представлен различными спортивными секциями для детей. Начиная, от фитнеса и вышеупомянутой гимнастики для детей и, заканчивая, единоборствами. Занимаясь в нашем фитнес-клубе, ваш ребенок не только будет всегда в хорошей спортивной форме, но и вырастет сильным и уверенным в себе человеком, который всегда сможет за себя постоять.</p>
					<h2>Песочная терапия</h2>
					<p>Песочная терапия для детей позволяет одновременно решать задачи диагностики, коррекции, развития ребёнка и терапии. Анализируя песочные картины, можно диагностировать наличие внутренних конфликтов, отношения между ребенком и родителями, выявить страхи ребенка, узнать как ребенок преодолевает трудности и какие. Занятия с психологом песочной терапией позволяют не только диагностировать, но и бороться с проблемами ребенка.</p>
					<h2>Детский фитнес</h2>
					<p>В нашем детском фитнес-центре КиднессКлуб ваш ребенок может посещать занятия по фитнесу для детей. Занятия и нагрузка подбираются для каждого ребенка индивидуально, в зависимости от возраста и индивидуальных потребностей, совместно с врачом лечебной физкультуры и детским психологом.</p>
					<h2>Йога для детей</h2>
					<p>Йога&nbsp;&mdash; это великое и древнее искусство постижения гармонии во внутреннем и внешнем мире человека. Йогой занимаются многие и многие миллионы людей на всей планете. Взрослые, которые практикуют йогу, достигают намного больших успехов во всех областях своей жизни, чем те, которые еще пока не имели возможности приобщиться к этой тысячелетней культуре. В детском фитнес-центре Киднес-клуб Ваши смогут посещать секцию десткой йоги, что позволит им гармонично и быстро развиваться, следуя своим врожденным природным способностям и талантам. Детская йога быстро снимет стрессы и зажимы в теле, что приведет и к снижению психологических стрессов. В результате&nbsp;&mdash; здоровье и хорошее настроение вашего маленького чуда будут бесконечно радовать Вас!</p>
					<h2>Дзюдо для детей</h2>
					<p>Дзюдо закаляет тело и дух, учит дисциплине и воспитывает чувство справедливости, благородство, взаимное уважение. Дети, занимающиеся этим единоборством, очень скоро начинают опережать своих сверстников в физическом развитии, становятся увереннее в себе, более самостоятельными и целеустремленными. Запишитесь в к нам на занятия по дзюдо для детей.</p>
					<h2>Капоэйра для детей</h2>
					<p>Капоэйра&nbsp;&mdash; это очень артистичный вид спорта, сочетающий в себе и танец, и контактное единоборство. Фактически, это очень активный и зрелищный бой под зажигательную бразильскую музыку. Для капоэйры характерно большое количество акробатических упражнений и развитое чувство ритма, поэтому Ваш ребенок, занимаясь в нашем детском фитнес-клубе капоэйрой, будет хорошо развит физически и при этом получит хороший заряд хорошего настроения и радости, присущей солнечной Бразилии, где, по преданию, зародилась капоэйра. Капоэйра для детей очень понравится Вашему ребенку!</p>
					<h2>Курсы для беременных</h2>
					<p>В детском фитнес-центре Киднес-клаб Вы сможете подготовиться к чарующему моменту появления Вашего малыша. На наших курсах для беременных мы поможем Вам развеять все тревоги относительно вашей новой роли. Мы расскажем Вам, как обращаться с новорожденным малышом, как делать материнский массаж, вы изучите техники дыхания для беременных, пройдете курс мягкой адаптационной гимнастики, словом все, что необходимо, чтобы подготовиться непосредственно к родам. Если Вы готовитесь стать мамой, наши курсы подготовки к родам как раз для Вас!</p>
					<h2>Йога для беременных</h2>
					<p>Занятия йогой во время беременности будут очень полезны для Вашего тела и благотворно повлияют на Ваше эмоциональное состояние. Гармоничное, спокойное, счастливое состояние вашей души очень важно для Вашего малыша, который живет внутри Вас, и занятия йогой&nbsp;&mdash; это лучшее, что можно придумать для этой цели. Однако, беременным нежелательно выполнять абсолютно все йогические упражнения, поэтому в детском фитнес-центре Киднес-клуб мы проводим занятия йогой специально для беременных, на которых мы используем только отобранные упражнения. На занятиях йогой для беременный в детском фитнес-клубе Киднес клуб Вы всегда можете быть уверены, что там только то, что нужно именно Вам и именно на данном сроке Вашей беременности.</p>
				</div>
			</div>
        </div>
    </div>
		
{% endblock %}